# This workflow will build a Java project with Maven, and cache/restore any dependencies to improve the workflow execution time
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven

name: Java CI with Maven

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Set up JDK 11
      uses: actions/setup-java@v3
      with:
        java-version: '11'
        distribution: 'temurin'
        cache: maven
    - name: Build with Maven
      run: mvn -B package --file app/pom.xml
    
    - name: Upload a Build Artifact
      uses: actions/upload-artifact@v3.1.0
      with:
      # Artifact name
        name: verademo.war # optional, default is artifact
    # A file, directory or wildcard pattern that describes what to upload
        path: ./app/target/
    # The desired behavior if no files are found using the provided path.
      #Available Options:
  #warn: Output a warning but do not fail the action
  #error: Fail the action with an error message
  #ignore: Do not output any warnings or errors, the action does not fail
        if-no-files-found: warn # optional, default is warn
    # Duration after which artifact will expire in days. 0 means using default retention.
#Minimum 1 day. Maximum 90 days unless changed from the repository settings page.

  #  retention-days: # optional
 #     
    - name: Veracode Upload And Scan
    # You may pin to the exact commit or the version.
    # uses: veracode/veracode-uploadandscan-action@4cd3f8b5fba1a0511b7dc17b55d85f16ec69cbf7
      uses: veracode/veracode-uploadandscan-action@0.2.3
      with:
        # appname
        appname: ${{ github.repository }}
        # createprofile
        createprofile: true # default is true
        # filepath
        filepath: app/target/verademo.war
        # version
        version: ${{ github.run_id }} # default is Scan from Github job: ${{ github.run_id }}-${{ github.run_number }}-${{ github.run_attempt }}
        # vid
        vid: ${{ secrets.VERACODE_API_ID }}
        # vkey
        vkey: ${{ secrets.VERACODE_API_KEY }}
        # true or false
        createsandbox: false # optional
        # name of the sandbox
        #sandboxname: # optional
        # wait X minutes for the scan to complete
        #scantimeout: # optional
        # modules to exclude from module selection
        #exclude: # optional
        # modules to include in module selection
        #include: # optional
        # business criticality - policy selection
        #criticality: # optional
        # filename pattern
        #pattern: # optional
        # replacement
        #replacement: # optional
        # specify to scan in a sandbox
        #sandboxid: # optional
        # All top level modules
        #scanallnonfataltoplevelmodules: # optional
        # platform selected modules
        #selected: # optional
        # selected modules like from previous scan
        #selectedpreviously: # optional
        # teams
        #teams: # optional
        # teams
        #toplevel: # optional
        # automatically delete the current scan if there are any errors when uploading files or starting the scan
        #deleteincompletescan: # optional
        # specify version of the Java API Wrapper; default is latest
        #javawrapperversion: # optional
        # show detailed diagnostic information, which you can use for debugging, in the output.
        #debug: # optional
